In [13]:
import pandas as pd
import numpy as np
import pickle
import joblib
from sklearn.externals import joblib

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\Admin\.streamlit\deploy\lib\site-packages\sklearn\externals\__init__.py)

In [2]:
df=pd.read_csv(r'spam.csv',encoding='latin-1')

In [3]:
df.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [5]:
df['label']=df['class'].map({'ham':0,'spam':1})

In [6]:
df.head()

  class                                            message  label
0   ham  Go until jurong point, crazy.. Available only ...      0
1   ham                      Ok lar... Joking wif u oni...      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3   ham  U dun say so early hor... U c already then say...      0
4   ham  Nah I don't think he goes to usf, he lives aro...      0

In [7]:
X=df['message']
y=df['label']

In [8]:
## Extract feature with countvectorizer
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(X)

In [9]:
## Save the model
pickle.dump(cv,open('transform.pkl','wb'))

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.33,random_state=42)

In [11]:
### Naive bayes classifier
from sklearn.naive_bayes import MultinomialNB

In [12]:
clf=MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)
filename='NLP_model.pkl'
pickle.dump(clf,open(filename,'wb'))